<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<body>
	<table id="outerTable"><tr><td>
  	<table id="contentTable">
  	<tr>
  	<td><img src="images/mqconsole-body-banner.jpg" style="border: solid; border-width: 1px; border-color: gray;" /></td>
  	</tr>
  	<tr>
  	<td>JavaFX Manager Console for IBM Websphere MQ</td>
  	</tr>
  	<tr>
  	<td>The latest version is ${project.version}</td>
  	</tr>
  	<tr>
  	<td><p>Please see the <a href="https://github.com/cemartins/mqconsole">project page</a> at Github for source code and support and the <a href="https://bintray.com/cemartins/mqconsole/MQConsole">binary packages page</a> for downloads.</p></td>
  	</tr>
  	</table>
  	</td></tr></table>
</body>
</html>